<!doctype html>
<html lang='en'>
<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
  <a href="/jobs" class="btn btn-primary">back</a>
  <a href="/users/<%=user._id%>/edit" class="btn btn-danger">edit</a>
    <div>
      <h1><%= user.local.email %></h1>
      <p><b>ID: </b><%= user._id %></p>
      <p><b>NAME: </b><%= user.firstName %> <%= user.lastName %></p>
    </div>
  </main>

<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
